header{
    background-color: gray;
    text-align: center;
   
}
 h2{
    color: salmon;
    
}
.struttura{
    font-family: serif;
    font-weight: bold;

}
hr{
    border-style: solid;
    color: salmon;
}
img{
    margin-top: 10px;
}
.margin{
    margin-left: 20px;
}
footer{
    text-align: center;
}