/* Istruzioni per tutto il documento */

*{
    box-sizing: border-box;
    margin: 0%;
}

body{
    background-image: url(https://hd2.tudocdn.net/914696?w=1000&fit=clip);
    background-size: 80%;
}

/* istruzione per testata documento */

.opaco{
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    background: rgba(0,0,0, 40%);
    margin-top: 20px;
    height: 550px;
    
}
    
#logo{
    width: 200px;
    margin-left: 45%;
    margin-top: 20px;
}

#Superiore{
    text-align: center;
    color: rgb(0, 255, 0);
}
.input{
    background-color: rgb(0, 255, 0);
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 90%;
    height: 7px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

/* Indicazioni per corpo del documento */

.Prima{
    margin-left: 47px;
    margin-top: 10px;
    font-size: 20px;
    color: white;
}
.secondo{
    font-size: 15px;
}

/* Linee stato carica */
#uno{
    width: 30%;
    height: 20px;
    background-color: orange;
    border-color: orange;
    border-radius: 5px;
    margin: left 20px;
}
#due {
    width: 50%;
    height: 20px;
    background-color:green;
    border-color: green;
    border-radius: 5px;
    margin: left 20px;
}
#tre{
    width: 20%;
    height: 20px;
    background-color:rgb(85, 2, 85);
    border-color: rgb(85, 2, 85);
    border-radius: 5px;
    margin: left 20px;
}