/* Anatomia Css
   
Selettori {
proprietà:valore;
} 

*/


/* Con l'attributo "Id" andremo a identificare
 un unico selettore presente nella pagina Html.
Che poi andremo a richiamare in Css 
con il selettore preceduto da cancelletto. 
 Quindi Id=# piu selettore
 
 Es: #rosso{
    color: red;
}*/

#rosso{
    color: red;
}
#verde{
    color: green;
}
#giallo{
    color: yellow;
}
#marrone{
    color: brown;
}
#viola{
    color: darkorchid;
}
/* Con il tag "p" (in questo esempio)
 slezioniamo tutti i tag "p"presenti nella 
 pagina Html.
 Che poi andremo a richiamare in Css.
Es: 
p{
    color: blue;
} 
*/
p{
    color: blue;
}
h1{
    text-align: center;
    color: crimson;
}

/* Con l'atttributo Class andremo ad idenficare 
tutti i selettori,aventi la stessa dicitura
presenti nella pagina Html.
Che poi andremo a richiamare in Css, 
con il selettore preceduto dal punto.
Quindi class=punto piu selettore
Es: con(.speciale) selezioniamo tutte le
class contenete la parola speciale*/

.speciale{
    color: red;
}